.fp-tips__container {
  .fp-tips {
    line-height: 2em;
  }

  .offset-tramites .offset-card__content {
    font-size: 14px;
  }

  .tips-tramites-inline-list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    ul li {
      display: flex;
      align-items: center;
    }

    ul li::marker {
      content: none;
    }

    ul li::before {
      content: "•";
      margin-right: 6px;
      font-weight: bold;
      display: inline-block;
    }
  }
}
