.fp-introduction {
  .fp-introduction-woman-card {
    img.img-logo {
      width: 100px;
    }
    p.fp-introduction-woman-card-content {
      margin-bottom: 0px;
      a {
        color: var(--brand-wine);
      }
    }
  }
  .woman-box-button.fp-introduction-woman-card-btn {
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
  }

  @media (max-width: 450px) {
    .woman-cidh {
      .img-logo {
        display: none;
      }
    }
  }
}
