/* Fuente custom (Inter) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  /* brand assets */
  --brand-bg-light: #f2ede5; /* fondo crema */
  --brand-accent: #f1a546; /* acento naranja */
  --brand-wine: #6b131f; /* bordó */
  --brand-sage: #7ca192; /* verde salvia */
  --brand-dark: #20040e; /* casi negro */

  /* common assets */
  --brand-white: #fff;
  --brand-accent-700: #e2933a;

  --brand-orange-live: #f2a44f;
  --brand-green-dead: #6b8f87;
  --brand-green-live: #3e786f;
  --brand-green-light: #dfe7e1;

  /* Colores */
  --fp-primary: #3e786f; /* verde cabecera */
  --fp-primary-contrast: #ffffff; /* texto sobre primario */
  --fp-accent: #d99643; /* naranja botón */
  --fp-bg: #dfe7e1; /* fondo general */
  --fp-text: #4a2a2a; /* texto principal (bordó/marrón) */

  /* Dimensiones útiles */
  --fp-topbar-1-h: 50px; /* franja “Volver” */
  --fp-topbar-2-h: 64px; /* franja con título */
  --fp-cta-h: 56px; /* alto del botón pill */
  --fp-cta-gap: 16px; /* separación del borde inferior */

  --fp-margin-large-desktop: 350px;
  --fp-margin-desktop: 200px;
  --fp-margin-tablet: 125px;
  --fp-margin-mobile: 50px;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  /* background: var(--fp-bg); */
  color: var(--fp-text);
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

.color--brand-wine {
  color: var(--brand-wine);
}

.bg--brand-bg-light {
  background: var(--brand-bg-light);
}

.text-font-size {
  font-size: clamp(16px, 3vw, 24px);
}
