.fp-title-description-bar__container {

  .fp-title-description-bar {
    

  }

  .fp-title-description__title {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--brand-wine);
    padding-bottom: 7px;
    margin-bottom: -10px;
    padding-top: 20px;
  }
}
