.unit-card {
  .unit-section {
    color: var(--brand-wine);
    font-size: 1rem;

    .unit-content {
      .section-title {
        font-weight: 700;
        font-size: 1rem;
      }
      .section-list {
        list-style-type: none;
        margin-block-start: 0em;
        padding-inline-start: 0px;
        margin-bottom: 0px;
        font-size: 0.87rem;
      }
      .section-content {
        margin-bottom: 0px;
        font-size: 0.87rem;
      }

      .address-button {
        margin-top: 10px;
        a {
          color: var(--brand-wine);
        }
      }
    }
  }
}
