.unit-card {
  .box-card .margin-box-card {
    margin-left: 0px;
    margin-right: 0px;
    gap: 20px !important;
  }

  .unit-section {
    color: var(--brand-wine);

    .unit-content {
      .section-title {
        font-weight: 700;
        font-size: 17px;
      }
      .section-list {
        list-style-type: none;
        margin-block-start: 0em;
        padding-inline-start: 0px;
        margin-bottom: 0px;
      }
      .section-content {
        margin-bottom: 0px;
      }

      .address-button {
        margin-top: 10px;
        button {
          padding: 10px !important;
        }
        a {
          color: var(--brand-wine);
          font-size: 16px;
        }
      }
    }
  }
}
