.box-btn,
.box-btn:hover,
.box-btn:active {
  background-color: transparent;
  border: none;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;

  .box-container {
    .box-title {
      color: var(--brand-wine);
      // padding-top: 30px;
      // border-top: 0.8px solid #204f55; // black;
      // border-left: 0.8px solid #204f55;
      // border-right: 0.8px solid #204f55;
      // margin-left: 20.5px;
      // margin-right: 17.7px;
      // border-top-left-radius: 20px;
      // border-top-right-radius: 20px;
      // width: 231.805px;
    }

    .box-image-container {
      .box-image {
        background-color: transparent;
        border: none;
        // width: 270px;
      }
    }
  }

  .centrar-div {
    margin: auto;
  }

  .one-line-text {
    // white-space: ;
  }

  .woman-box-button__container {
    .woman-box-button.fp-introduction-woman-card-btn {
      img.img-logo {
        width: 70px;
      }
    }
  }
}
.fp-modal {
  .modal-title {
    color: var(--brand-wine);
    font-weight: 700;
  }
  .modal-content {
    background-color: var(--brand-bg-light);
    color: var(--fp-text);
    padding: 6% 4% 6% 4%;
  }
  .modal-footer {
    .fp-btn-modal {
      color: white;
      background-color: var(--brand-wine);
      border: none;
      border-radius: 9999px;
    }
  }
}
