@use "../../../styles/variables";

.box-card {
  display: flex;
  position: relative;
  background: var(--oc-bg, #dff2ec);
  padding-top: var(--oc-pad, 24px);
  padding-bottom: var(--oc-pad, 24px);
  border: none;
  z-index: 0;
  isolation: isolate;
  overflow: visible;

  .img-logo {
    width: 24px;
  }

  .box-card__content {
    position: relative;
    z-index: 1;
    color: #182b66;
    // font-size: clamp(16px, 2.1vw, 28px);
    line-height: 1.35;
  }

  .margin-box-card {
    margin-left: var(--fp-margin-mobile);
    margin-right: var(--fp-margin-mobile);
  } 
  @media (max-width: variables.$fp-tablet-breakpoint-max) {
    .margin-box-card {
      margin-left: var(--fp-margin-tablet);
      margin-right: var(--fp-margin-tablet);
    }
  }
  @media (max-width: variables.$fp-mobile-breakpoint-max) {
    .margin-box-card {
      margin-left: var(--fp-margin-mobile);
      margin-right: var(--fp-margin-mobile);
    }
  }
}
