.fp-family-role {
  font-size: clamp(16px, 3vw, 25px);
  line-height: 1.8em;
}

.woman-image {
  float: left;
  // width: 60px;       /* ajustá tamaño */
  // margin-right: 12px; /* espacio entre imagen y texto */
}

.child-image {
  float: left;
  width: 80px; /* ajustá tamaño */
  margin-right: 24px; /* espacio entre imagen y texto */
}

.float-clean {
  clear: both;
}
