.fp-subtitle-container {
  height: var(--fp-topbar-2-h);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.fp-subtitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-align: center;
  margin: 5% 5% 5%;

  color: var(--brand-wine);
  font-size: 1.25rem;
}
