@use "../../styles/variables" as v;
 
.sticky {
  position: sticky;
  top: var(--sticky-offset, 44px);
  // top: var(--fp-topbar-2-h, 64px);
  
  z-index: 3; // por encima del contenido
}
.fpTopbar2Container{
  background-color: red;
  background: var(--brand-green-live);

}
.stickyInner { 
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px 18px;
} 
 
.title {
  font-size: 1.25rem;
  font-weight: 600; 
  text-align: center;
  margin: 18px 0 16px;
} 