@use "../../styles/variables" as v;

.screen {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 16px 0px 28px;
  margin: auto;

  nav {
    gap: 55px;
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 18px 0 16px;
}
